.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar ul li button {
  color: #fff;
  width: 150px;
  padding: 10px;
  margin: 0 5px;
  font-size: large;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo i {
  margin-right: 10px;
}
