.showcase {
  height: 690px;
}

.showcase img {
  height: 100%;
  object-fit: cover;
}

.showcase .grid {
  grid-template-columns: 1fr 4fr;
  gap: 0;
}

.showcase .grid .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.showcase .grid .grid > *:first-child {
  grid-row: 1 / span 2;
}
