@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* global css variables */
:root {
  --primary-color: #ea7773;
  --secondary-color: #f86863;
  --dark-color: #0f1418;
  --light-color: #f4f4f4;
}
/* css resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
